/* Style the site background */

body {
    background-color: rgb(91, 182, 194);
    height: 100%;
    width: 100%
}


/* Style the header & title */

#myHeader {
    display: flex;
    padding: 25px;
    background-color: rgb(233, 106, 33);
    color: black;
    justify-content: space-around;
    border-style: solid;
    font-family: fantasy
}

.ex1 {
    font-size: 52px;
}
.ex2 {
    font-size: 36px;
    font-style: italic
}
.ex3

/* Style the carousel */

/* Style the input form*/

form .class {
    text-align: center;
  }

#city {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

#state {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

#zip {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

#travelMiles {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

#cuisines {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

/* Style the submit button*/

#submit {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    margin: 25;
}

.thumb {
    height: 200px;
    width: 200px;
}

/* Style the restaurant results table*/

#restaurantTable {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    text-align: justify;
    color: #f2f2f2;
    padding: 15px;
}

/* Style the footer */

#myFooter {
    display: flex;
    padding: 15px;
    background-color: rgb(233, 106,33);
    color: black;
    justify-content: space-around;
    border-style: solid;
    font-family: fantasy;
    font-size: 24px;
}


/* MEDIA QUERY:
On screens that are 768px wide or less, make the restaurant results links stack on top of each other instead of next to each other */

@media screen and (max-width: 768px) {
    #carouselExampleSlides {
        float: none;
        width: 100%;
}

@media screen and (max-width: 768px) {
    #restaurantTable {
        float: none;
        width: 100%;
}}
