/* Style the header */
 .header {
    display: flex;
    padding: 10px 5px;
    background-color:rgb(231, 89, 7);
    color:  #f1f1f1;
    justify-content: space-around;
}
.header p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
}
.header h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
}

/* Style the carousel */
.carousel {
height: 40 px;
}

/* Style the images */
.img {
    max-width: 100%; 
    height: auto;
}

/* Style the form*/
#city {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
#state {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
#zipcode {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
#travelmiles {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
#foodtype {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

/* Style the submit button */
.btn-primary {
    flex: 1;
    margin: 10;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

/* Style the footer */
.footer {
    display: flex;
    padding: 10px 5px;
    background-color:rgb(231, 89, 7);
    color:  #f1f1f1;
    justify-content: space-around;
}
.footer p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
}
